@import url(../components/normalize-css/normalize.css);
/*
	by: Oskar Rough Mosumgaard
*/
/* line 5, ../sass/_base.scss */
html {
  font-family: "Apercu Light", sans-serif;
  font-size-adjust: 0.508;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
  font-size: 18px;
}

/* line 15, ../sass/_base.scss */
a,
a:visited {
  color: #40cf2d;
  text-decoration: underline;
}

/* line 19, ../sass/_base.scss */
a:hover {
  color: #8be37f;
  text-decoration: underline;
}

/* line 23, ../sass/_base.scss */
a:active, a:focus {
  color: red;
}

/* line 32, ../sass/_base.scss */
h1,
h2,
h3 {
  font-family: "Chapeau Regular", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 35, ../sass/_base.scss */
h1 {
  font-size: 36px;
  font-size: 2rem;
  margin: 0 0 0.625em;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 42, ../sass/_base.scss */
h2 {
  font-size: 23px;
  font-size: 1.25rem;
  margin: 0 0 0.4em;
  line-height: 1;
  font-weight: bold;
}

/* line 48, ../sass/_base.scss */
h3 {
  font-size: 18px;
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

/* line 62, ../sass/_base.scss */
p,
ul,
ol,
dl,
blockquote,
img {
  margin: 0 0 1.25em;
}

/* line 65, ../sass/_base.scss */
code {
  background-color: #ccccff;
}

/* line 4, ../sass/_layout.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 9, ../sass/_layout.scss */
html,
body {
  height: 100%;
}

/* line 14, ../sass/_layout.scss */
.sister-sledge {
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
  opacity: 0;
}
/* line 17, ../sass/_layout.scss */
.wf-active .sister-sledge {
  opacity: 1;
}

/* line 21, ../sass/_layout.scss */
.sister-sledge {
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
  padding-left: 2em;
  padding-right: 2em;
}

/* line 30, ../sass/_layout.scss */
#starwarswrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 38, ../sass/_layout.scss */
.l-main {
  *zoom: 1;
  padding-bottom: 2.22222em;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.l-main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../sass/_module.scss */
.project {
  margin-bottom: 1.25em;
  width: 90%;
  clear: both;
  color: #fff;
}
/* line 11, ../sass/_module.scss */
.project p:last-child {
  margin-bottom: 0;
}
/* line 15, ../sass/_module.scss */
.project a {
  display: block;
  padding: 1.25em;
  text-decoration: none;
  color: inherit;
}
/* line 20, ../sass/_module.scss */
.project a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 22, ../sass/_module.scss */
.project a:hover h2 {
  color: #8be37f;
}

/* line 29, ../sass/_module.scss */
.project-alivefestival {
  -webkit-transition: background-position 5s ease-in;
  -moz-transition: background-position 5s ease-in;
  -o-transition: background-position 5s ease-in;
  transition: background-position 5s ease-in;
  float: left;
  background: url(../img/alive12.jpg) 50% 0;
  border: 3px solid yellow;
}
/* line 34, ../sass/_module.scss */
.js .project-alivefestival {
  background-position: 50% 80%;
}
/* line 37, ../sass/_module.scss */
.project-alivefestival:hover {
  background-position: 50% -5000%;
}

/* line 41, ../sass/_module.scss */
.project-danskdynamit {
  float: right;
  border: 3px solid white;
  background-color: red;
}
/* line 46, ../sass/_module.scss */
.proinquotes .project-danskdynamit {
  border-color: #b30000;
}
/* line 47, ../sass/_module.scss */
.project-danskdynamit a:hover h2 {
  color: #fff;
}

/* line 51, ../sass/_module.scss */
.project-hopeglory {
  float: left;
  background: url(../img/hg.png) 0 0.88889em;
  border: 3px solid black;
}

/* line 57, ../sass/_module.scss */
.project-schlagerbits {
  float: right;
  background: url(../img/stars.png);
  border: 3px solid black;
}

/* line 63, ../sass/_module.scss */
.list {
  font-size: 16px;
  font-size: 0.88889rem;
  list-style: none;
  padding: 0;
}
/* line 67, ../sass/_module.scss */
.list li {
  border-bottom: 1px solid #262626;
  margin-bottom: 0.11111em;
}

/* line 72, ../sass/_module.scss */
.date {
  display: inline-block;
  min-width: 2.75em;
  opacity: 0.5;
}

/* line 6, ../sass/_m-navigation.scss */
nav ul {
  list-style: none;
  padding: 0;
}
@media (min-width: 42em) {
  /* line 11, ../sass/_m-navigation.scss */
  nav li {
    display: inline;
  }
}

/* line 16, ../sass/_m-navigation.scss */
.m-nav-primary {
  font-size: 22px;
  font-size: 1.22222rem;
}
/* line 18, ../sass/_m-navigation.scss */
.m-nav-primary a {
  display: block;
  padding: 0.25em 0.5em;
  text-decoration: none;
}
@media (min-width: 42em) {
  /* line 18, ../sass/_m-navigation.scss */
  .m-nav-primary a {
    display: inline-block;
    padding: 1.5em 0.5em;
  }
}
/* line 28, ../sass/_m-navigation.scss */
.m-nav-primary li:first-child a {
  background: url(../img/dance-round.png) 0 50% no-repeat;
  background-size: 10%;
  padding-left: 2em;
}

/* line 34, ../sass/_m-navigation.scss */
.m-nav-development {
  position: fixed;
  bottom: 0;
  right: 1em;
  z-index: 5;
}
/* line 39, ../sass/_m-navigation.scss */
.m-nav-development li {
  font-size: 14px;
  font-size: 0.77778rem;
}

/* line 44, ../sass/_m-navigation.scss */
.selected,
.selected:visited {
  text-decoration: none;
  color: #000;
}

/* line 48, ../sass/_m-navigation.scss */
button {
  background-color: #fff;
  border: 0;
}

/* line 5, ../sass/_themes.scss */
.cosmic {
  background-color: #000;
  background-color: #070f11;
  color: #fff;
}
/* line 9, ../sass/_themes.scss */
.cosmic .selected {
  color: #fff;
}

/* line 16, ../sass/_themes.scss */
.no-touch .page-index.cosmic {
  -webkit-transition: color 12s;
  -moz-transition: color 12s;
  -o-transition: color 12s;
  transition: color 12s;
  color: #111;
}
/* line 19, ../sass/_themes.scss */
.no-touch .page-index.cosmic .selected {
  color: #111;
}
/* line 22, ../sass/_themes.scss */
.no-touch .page-index.cosmic h1 span {
  color: white !important;
}
/* line 27, ../sass/_themes.scss */
.no-touch .page-index.cosmic.imsomoved {
  -webkit-transition-duration: 6s;
  -moz-transition-duration: 6s;
  -o-transition-duration: 6s;
  transition-duration: 6s;
  color: #fff;
}

/* line 38, ../sass/_themes.scss */
.proinquotes {
  color: #000;
}
/* line 41, ../sass/_themes.scss */
.proinquotes #starwarswrap {
  display: none;
}
/* line 44, ../sass/_themes.scss */
.proinquotes .list li {
  border-color: #ebebeb;
}
/* line 47, ../sass/_themes.scss */
.proinquotes .project {
  width: auto;
  float: none;
  border: 0;
}

/* line 56, ../sass/_themes.scss */
.funky {
  background: url(../img/1775166611.gif) repeat fixed;
  border: 1em solid rgba(40, 20, 180, 0.3);
}
/* line 60, ../sass/_themes.scss */
.funky #starwarswrap {
  display: none;
}
/* line 63, ../sass/_themes.scss */
.funky .sister-sledge {
  height: 100%;
  background: rgba(255, 0, 0, 0.6);
  border-radius: 50%;
  border: 1em solid rgba(40, 20, 180, 0.3);
}
