//
// Config
//

// Typography
$base-font-size: 18px;
$base-font-size-unitless: 18;
$base-line-height-unitless: 1.5;
$base-line-height: $base-font-size * $base-line-height-unitless;

@mixin font-header {
	font-family: "Chapeau Regular", sans-serif;
	font-weight:normal;
	font-style:normal;
}
@mixin font-body {
	font-family: "Apercu Light", sans-serif;
	font-size-adjust:0.508;
	font-weight: 200;
	font-style:normal;
}

// This follows the standard ratio as per the browser defined standards
$font-size-xxl: $base-font-size * 2;
$font-size-xl: $base-font-size * 2;
$font-size-l: $base-font-size * 1.25;
$font-size-m: $base-font-size;
$font-size-s: $base-font-size * 0.8125;
$font-size-xs: $base-font-size * 0.625;
$font-size-xxs: $base-font-size * 0.5625;

// Colors
$white: #fff;
$black: #000;
$yellow: yellow;
$blue: blue;
$red: red;
$green: #40CF2D;
$purple: #5E4BED;
$lightgray: darken($white, 25);
$gray: mix($white, $black);
$darkgray: lighten($black, 25);
$anchor-color: $green;
$anchor-color-hover: lighten($anchor-color, 20%);
$anchor-color-active: $red;
$anchor-color-selected: $white;

// Layout with Susy
$total-columns: 10;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 10%;
$container-style: magic; // magic, static or fluid

$breakpoint-small: 680;
$breakpoint-medium: 800;
$breakpoint-large: 960;
$breakpoint-huge: 1600;

$container-width: em($breakpoint-large);
$layout-small: em($breakpoint-small);
$layout-medium: em($breakpoint-medium) lt-ie9;
$layout-large: em($breakpoint-large) lt-ie9;
$layout-huge: em($breakpoint-huge);
