
// Layout
// ============================================================================
// See Susy settings in _config.scss
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html,
body {
	height: 100%;
}
.sister-sledge {
	@include opacity(0);
	@include transition(opacity 200ms);
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
	padding-left: 2em;
	padding-right: 2em;
}
.visible {
	@include opacity(1);
}
#starwarswrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.l-primary {
	padding-bottom: 40/18*1em;
}
