//
// Navigation
//

nav {
	ul {
		list-style: none;
		padding: 0;
	}
	@media (min-width: 42em) {
		li {
			display: inline;
		}
	}
}
.nav-primary {
	@include rem(font-size, 22px);
	a {
		display: block;
		padding: 0.25em 0.5em;
		text-decoration: none;

		@media (min-width: 42em) {
			display: inline-block;
			padding: 1.5em .5em;
		}
	}
	li:first-child a {
		background: url(../img/dance-round.png) 0 48% no-repeat;
		background-size: 10%;
		padding-left: 2.2em;
	}
}
.nav-development {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 5;
}

.nav-development li {
	@include rem(font-size, $base-font-size - 4);
}
.selected,
.selected:visited {
	text-decoration: none;
	color: #000;
}
button {
	background-color: #fff;
	border: 0;
}
