/* Test rem() for pixel values and mixed values */
.foo {
  font-size: 16px;
  font-size: 1rem;
}

.bar {
  margin: 15px auto 0;
  margin: 0.938rem auto 0;
  border-left: 1px solid #bbffff;
  border-left: 0.063rem solid #bbffff;
}

.baz {
  padding: 5px 15px 5px 15px;
  padding: 0.313rem 0.938rem 0.313rem 0.938rem;
}

.quux {
  border: 1px solid #cccccc;
  border: 0.063rem solid #cccccc;
  padding: 14px;
  padding: 0.875rem;
  margin: 0 0 0 0;
  margin: 0 0 0 0;
}

/* Test passing rem values */
.oof {
  font-size: 16px;
  font-size: 1rem;
}

.rab {
  margin: 15px auto 0;
  margin: 0.938rem auto 0;
}

/* Test passing weird mixed values */
.zab {
  padding: 8px 16pt 8px 0.5em;
  padding: 0.5rem 16pt 0.5rem 0.5em;
  margin: 8px 0 0.25em;
  margin: 0.5rem 0 0.25em;
}

/* Test not printing pixel fallbacks */
.squee {
  margin: 0.5rem auto;
}
