
block vars
	- var title = "Oskar Rough Mosumgaard"
	- var bodyClass = "page-index"

extends layouts/layout-page

prepend head
	title #{title}

block header
	include layouts/layout-header

block main
	.l-primary
		article.article
			h1 Hello, I'm <span>Oskar Rough Mosumgaard.</span>
			p I like music, food, sun, information and technology.
			p Find me here and on <a href="https://twitter.com/oskarrough" target="_blank">Twitter</a>, <a href="http://soundcloud.com/oskarrough" target="_blank">Soundcloud</a>, <a href="http://github.com/oskarrough" target="_blank">Github</a> and <a href="http://www.discogs.com/collection?user=oskarrough" target="_blank">Discogs</a>.
			p I post this and that about coding and technology on <a href="http://blog.oskarrough.com">my code blog</a>. And perhaps more interesting, me and my friends share our passion for music on <a href="http://lyde.org">lyde.org</a>.

		//- | <a class="twitter-timeline" data-dnt=true href="https://twitter.com/oskarrough" data-widget-id="287929202009841665">Tweets by @oskarrough</a>
		//- | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

block footer
	include layouts/layout-footer.jade