
block vars
	- var title = "Oskar Rough Mosumgaard"
	- var bodyClass = "page-index"

extends layouts/layout-page

prepend head
	title #{title}

block header
	include layouts/layout-header

block main
	.l-primary
		article.article
			h1 Hello, I'm <span>Oskar Rough Mosumgaard.</span>
			p I like music, food, sun, information and technology.
			p My thoughts on codes, design and technology are to be found on <a href="http://codesandnotes.com">Codes &amp; Notes</a>, in my <a href="/projects.html">projects</a> and <a href="/resume.html">resumé</a> as well as on <a href="http://github.com/oskarrough" target="_blank">Github</a> and <a href="https://twitter.com/oskarrough" target="_blank">Twitter</a>.
			p Perhaps more interesting, me and my friends share our passion for music on <a href="http://lyde.org">lyde.org</a> — also: <a href="http://soundcloud.com/oskarrough" target="_blank">Soundcloud</a>&amp; <a href="http://www.discogs.com/collection?user=oskarrough" target="_blank">Discogs</a>.
			p Contact me at <a href="mailto:oskar@rough.dk">oskar@rough.dk</a>.

block footer
	include layouts/layout-footer.jade
