
block vars
	- var title = "Projects"
	- var bodyClass = "page-" + title.toLowerCase()

extends layouts/layout-page

prepend head
	title #{title} - Oskar Rough Mosumgaard

block header
	include layouts/layout-header

block main
	.l-primary
		article
			h1 #{title}
			p Ongoing projects.

			#alivefestival.project.project-alivefestival
				a(href="http://alivefestival.dk", target="_blank")
					h2 Alive Festival
					p A cozy, yearly and very fun music festival located in my homearea. Started in 2009 to celebrate life and music while ensuring a (inter)national focus on the area. Dates for 2013 will be the 16th and 17th of August.

			#danskdynamit.project.project-danskdynamit
				a(href="http://danskdynamit.com", target="_blank")
					h2 Dansk Dynamit
					p Network for Danish designers, architects and the like. Since 2006. What started as a hobby project turned into the biggest platform of it's kind in Denmark.

			#hopeglory.project.project-hopeglory
				a(href="http://hopeglory.com", target="_blank")
					h2 HOPE/GLORY
					p In 2010 I joined the succesful HOPE/GLORY team in Berlin as a front-end developer.

			#schlagerbits.project.project-schlagerbits
				a(href="http://schlagerbits.com", target="_blank")
					h2 Schlagerbits
					p Where me and my friends share the good, loving doctor music that makes you feel good. Enjoy!

block footer
	include layouts/layout-footer.jade