block vars
	- var title = "Projects"
	- var bodyClass = "page-" + title.toLowerCase()

extends layouts/layout

prepend head
	title #{title} - Oskar Rough Mosumgaard

block main
	.l-primary
		article.article
			h1 Projects
			p Some of my ongoing projects. For work references, see my <a href="/resume.html">resumé</a>.

			#danskdynamit.project.project-danskdynamit
				a(href="http://danskdynamit.com", target="_blank")
					h2 Dansk Dynamit
					p A platform and network between Danish designers, architects and creatives. What started as a hobby project turned into the biggest platform of it's kind in Denmark. Since 2006.

			#alivefestival.project.project-alivefestival
				a(href="http://alivefestival.dk", target="_blank")
					h2 Alive Festival
					p A cozy, yearly and very fun music festival located in my homearea Thy, Denmark. Started in 2009 to celebrate life and music while manifesting a (inter)national focus on the local area. Dates for 2013 are be the 16th and 17th of August.

			#hopeglory.project.project-hopeglory
				a(href="http://www.hopeglory.com", target="_blank")
					h2 HOPE/GLORY
					p Since 2010 I've been helping companies realize their ideas through online solutions with the great HOPE/GLORY team in Berlin.

			#lyde.project.project-lyde
				a(href="http://lyde.org", target="_blank")
					h2 Lyde.org
					p Where me and my friends share the good, loving doctor music that makes you feel good. I see it as a library and reference of our taste in music. Enjoy!
