 /**
 * Base
 */

html {
	font-size: $base-font-size;
	line-height: $base-line-height-unitless;
	font-family: $font-body;
	color: $text-color;
	background-color: $bg-color;

	// Enable kerning and ligatures everywhere
	text-rendering: optimizeLegibility;

	// Check this for each typeface. Sometimes it makes it worse
	// -webkit-font-smoothing: antialiased;

	@media (min-width: $layout-m) {
		font-size: 18px;
	}
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea {
	margin: 0 0 1em;
}

// Headers
h1,
h2,
h3,
h4 {
	line-height: 1.1;
	font-family: $font-header;
}
h1 {
	font-size: rem(30);
	margin-bottom: em(16,30);
}
h2 {
	font-size: rem(20);
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: rem(14);
}

// Links
a {
	color: blue;
	&:hover {
		color: blue;
	}
}

// Responsive media
iframe,
img,
canvas,
video,
embed {
	max-width: 100%;
}







$text-color:  blue;
$underline-color: #333;
$bg-color: #fff;
$bg-size: 1px;
$stroke-size: 1px;
$font-size: 16px;


.Main a {
	// color: black;
	// text-decoration: none;
	// background-repeat: repeat-x;
	// background-image: linear-gradient(to bottom, $bg-color, $underline-color);
	// color: $text-color;

	// background-size: $bg-size $bg-size;
	// background-position: 0 $font-size;
	// text-shadow: $stroke-size 0 $bg-color, 0px $stroke-size $bg-color,  -#{$stroke-size} 0 $bg-color, 0 -#{$stroke-size} $bg-color;

	// &:hover {
	// 	background-image: linear-gradient(to bottom, $bg-color, #000);
	// }
}

h2 a {
	// $font-size: 24px;
	// background-size: $bg-size $bg-size;
	// background-position: 0 $font-size;
	// text-shadow: $stroke-size 0 $bg-color, 0px $stroke-size $bg-color,  -#{$stroke-size} 0 $bg-color, 0 -#{$stroke-size} $bg-color;
}


li {
	margin-bottom: 0.25em;
}
