$root-font-family: 'triplicate_t4regular', sans-serif;
$root-font-size: 14px;
$root-line-height: 1.4;
$html-background-color: transparent;
$html-color: hsl(0, 0%, 90%);
$anchor-text-decoration: underline;
// $selection-background-color: #B3D4FC !default;

// Colors
$blue: #1a70ff;
$red: #f00;

// Layout
$space: $root-font-size;

// Good looking easings for animation
$easing:  cubic-bezier(0.165, 0.840, 0.400, 1.000);
$easing2: cubic-bezier(0.300, 0.000, 0.000, 1.300);
$easing3: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easing4: cubic-bezier(0.250, 1.400, 0.180, 1.000); // try with 200ms

// Breakpoints
$layout-s: 414px;
$layout-sm: 700px;
$layout-m: 768px;
$layout-ml: 1024px;
$layout-l: 1440px;
