$global-font-family: 'triplicate-t4', -apple-system, BlinkMacSystemFont, \.SFNSDisplay-Light, Roboto, sans-serif;
$global-font-size: 16px;
$global-line-height: 1.4;
$background-color: #000;
$text-color: hsl(0, 0%, 90%);

// Colors
$blue: #1a70ff;
$red: #f00;

// Layout
$space: 20px;

// Good looking easings for animations
$easing:  cubic-bezier(0.165, 0.840, 0.400, 1.000);
$easing2: cubic-bezier(0.300, 0.000, 0.000, 1.300);
$easing3: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easing4: cubic-bezier(0.250, 1.400, 0.180, 1.000);
$easing5: cubic-bezier(0.200, 0.300, 0.250, 0.900);

// Breakpoints
$layout-s: 414px;
$layout-sm: 660px;
$layout-m: 768px;
$layout-ml: 1024px;
$layout-l: 1440px;
$layout-xl: 1900px;
