// theme 1

// theme 2
// $bg-color: hsl(238, 56%, 35%);
// $text-color: #dadada;
// $link-color: #fff;
// $accent: #c04340;

// theme 3
// $bg-color: #d3c346;
// $text-color: #ca7d45;
// $link-color: #19191b;
// $accent: #c04340;

// html { background-color: $bg-color; color: $text-color; }
// h1,h2 { color: $accent; }
// a { color: $link-color; }
// .Nav a:hover { color: $link-color; }
// .Nav--primary li:first-child a { color: $link-color; }
