---
import Normal from '../../layouts/Normal.astro'
import BlogLatest from '../../components/BlogLatest.astro'

const mastodon = 'https://toot.cafe/@oskar'
const bluesky = 'https://bsky.app/profile/oskarrough.bsky.social'
---

<Normal>
	<div class="Doc">
	<h1>(B)Log</h1>
	<BlogLatest />
	<br/>
	<br/>
	<p>Technically I'm also on <a href={bluesky}>Bluesky</a> and <a href={mastodon}>Mastodon</a>.</p>
</div>
</Normal>
