---
import {bluesky, mastodon} from '../../consts.js'
import BlogLatest from '../../components/BlogLatest.astro'
import Normal from '../../layouts/Normal.astro'

---
<style>
	/* :root { --bg: var(--bg4); } */
</style>

<Normal>
	<div class="Doc">
		<h1>(B)Log</h1>
		<p>not sure I want this blog thing again, but here we are. if nothing else I can post images. Technically I'm also on <a href={bluesky}>Bluesky</a> and <a href={mastodon}>Mastodon</a>.</p>
		<br/>
	</div>
	<BlogLatest showContent={true} />
	<img src="/assets/early-computer-japan.jpg" alt="" />
</Normal>
