---
import Normal from '../../layouts/Normal.astro'
import BlogLatest from '../../components/BlogLatest.astro'

const mastodon = 'https://toot.cafe/@oskar'
const bluesky = 'https://bsky.app/profile/oskarrough.bsky.social'
---

<Normal>
	<div class="Doc">
	<h1>(B)Log</h1>
	<p>not sure I want this blog thing again, but here we are. if nothing else I can post images.</p>
	<BlogLatest />
	<br/>
	<br/>
	<p>Technically I'm also on <a href={bluesky}>Bluesky</a> and <a href={mastodon}>Mastodon</a>.</p>
	<img src="/src/assets/early-computer-japan.jpg" alt="" />
</div>
</Normal>
