/**
 * Fonts
 */

// Use this syntax for including web fonts cross browser

// @font-face {
// 	font-family: 'Name of the font';
// 	src: url('fonts/webfont.eot');
// 	src: url('fonts/webfont.eot?#iefix') format('embedded-opentype'),
// 		 url('fonts/webfont.woff') format('woff'),
// 		 url('fonts/webfont.ttf') format('truetype'),
// 		 url('fonts/webfont.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: 'Triplicate T3';
	src: url('fonts/triplicate/Triplicate T3 Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Triplicate T3 Bold';
	src: url('fonts/triplicate/Triplicate T3 Bold.otf') format('otf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Triplicate T3 Bold Italic';
	src: url('fonts/triplicate/Triplicate T3 Bold Italic.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

// Triplicate T3 Bold Italic.otf
// Triplicate T3 Bold.otf
// Triplicate T3 Italic.otf
// Triplicate T3 Regular.otf
