/**
 * Navigation
 */

.Nav {
	padding: 0;
	list-style: none;
	a.is-active {
		text-decoration: underline;
	}
}

.Nav--primary {
	margin-bottom: 2rem;
	li {
		display: inline-block;
		margin-right: 0.5rem;
	}
	a {
		text-decoration: none;
	}
}
