@import url("./linlibertine.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,2560,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
	--step--2: clamp(0.6944rem, 0.6565rem + 0.1897vw, 0.96rem);
	--step--1: clamp(0.8333rem, 0.781rem + 0.2619vw, 1.2rem);
	--step-0: clamp(1rem, 0.9286rem + 0.3571vw, 1.5rem);
	--step-1: clamp(1.2rem, 1.1036rem + 0.4821vw, 1.875rem);
	--step-2: clamp(1.44rem, 1.3109rem + 0.6455vw, 2.3438rem);
	--step-3: clamp(1.728rem, 1.5563rem + 0.8583vw, 2.9297rem);
	--step-4: clamp(2.0736rem, 1.8467rem + 1.1346vw, 3.6621rem);
	--step-5: clamp(2.4883rem, 2.1898rem + 1.4924vw, 4.5776rem);

	--accent: #f0ccdf;
	--accent-2: hsl(328.3, 54.5%, 87.1%);

	/* --accent-dark: maroon; */
	/* --bg1: hsl(328.41deg 13.36% 27.36%); */
	/* --bg1: hsl(238.67deg 91% 39%); */
	/* --bg1: hsl(238.67deg 91% 39%); */
	--bg1: hsl(123, 57%, 23%);
	--bg2: hsl(28, 21%, 86%);
	--bg3: hsl(27, 33%, 93%);
	--bg4: hsl(229, 33%, 90%);
	--bg5: hsl(268.4, 9.4%, 40.8%);
	--black: #151515;
	--white: #fafafa;
	--gray: gray;
	--gray-light: lightgray;
	--gray-dark: darkgray;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

	font-family:
		Libertinus Sans,
		cursive;
	font-size: var(--step-0);
	line-height: 1.4;
	background: var(--bg5);
}

body {
	margin: 0;
	min-block-size: 100%;
	/* overflow-y: scroll; */
	/* scrollbar-width: thin; */
}

/* ::-moz-selection { */
/*     background: var(--text); */
/*     color: var(--bg); */
/* } */
/* ::selection { */
/*     background: var(--text); */
/*     color: var(--bg); */
/* } */

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	text-wrap: balance;
}

h1 {
	font-size: var(--step-0);
	line-height: 1.1;
	margin-bottom: 2rem;
}

h2 {
	font-size: var(--step-1);
	margin-bottom: 1rem;
}

h3 {
	font-size: var(--step-0);
	font-weight: bold;
}

ul,
p {
	margin: 0 0 1rem;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
	border-radius: 3px;
	transition: background 0s;
}

a:not(:has(img)):hover {
	/* color: var(--accent); */
	/* background: #fcc; */
	background: var(--accent);
	transition-duration: 200ms;
	color: var(--black);
	/* background: var(--bg1); */
	/* color: var(--accent); */
}

textarea,
input {
	font-size: initial;
}

textarea {
	width: 100%;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code,
pre {
	font-family:
		Libertinus Mono,
		monospace;
}

pre {
	padding: 1em;
	font-size: var(--step-0);
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 1rem;
	margin: 0 0 0 1rem;
	font-size: var(--step-2);
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

figure {
	margin: 0;
}

a:has(h1, h2, h3) {
	color: initial;
}

img {
	vertical-align: middle;
}

article > figure {
	margin-bottom: 0.5rem;
}

.Doc {
	max-width: 80ch;
	background: var(--bg2);
	padding: 3rem 3vw 0.5rem;
	margin: 2vh 0.5rem 2vh 4vw;
	position: relative;
	border: 1px solid;
	/* box-shadow: 2px 2px #ddd; */
	box-shadow: 2px 2px #253126;

	a {
		/* background: var(--accent-2); */
		color: var(--black);
		text-underline-offset: max(0.1em, 2px);
		text-decoration-thickness: from-font;
		text-decoration-color: hsla(0 0% 40% / 0.8);
	}

	a:hover {
		background: var(--accent);
		text-decoration-color: hsla(0 0% 0% / 1);
		/* text-decoration: none; */
	}
}

.Doc::before,
.Doc::after {
	position: absolute;
	right: 0;
	top: 0;
	content: "";
}
.Doc::before {
	width: 2px;
	height: 2rem;
	background: var(--bg5);
	z-index: 10;
	right: -3px;
}
.Doc::after {
	z-index: 11;
	width: 0;
	height: 0;
	border-width: 1rem;
	border-style: solid;
	border-color: var(--bg5) var(--bg5) #e8a2a2 #e8a2a2;
}

img,
iframe,
video {
	max-width: 100%;
	height: auto;
}

lite-youtube {
	margin-bottom: 1rem;
}

article h2:has(+ p time) {
	margin: 0;
}

p:has(time) {
	color: var(--gray);
}

.list {
	list-style: none;
	padding: 0 0 0 0.5rem;

	li {
		margin-bottom: 0.25rem;
	}

	h3 a {
		display: block;
	}

	a {
		position: relative;
		text-decoration: underline;
	}

	a:hover::before {
		content: "o";
		position: absolute;
		font-size: var(--step--1);
		left: -1rem;
		top: 0.25rem;
	}

	h3 + p:has(time) {
		margin-left: 0.5rem;
		margin-top: -0.5rem;
	}

	h3 {
		padding: 0.2rem 0.5rem;
	}

	p {
		margin: 0;
	}
}

article + article {
	margin-top: 1rem;
}

figure.row {
	display: flex;
	flex-flow: row nowrap;
	overflow-x: auto;

	> * {
		flex: 1;
	}
}

.tracks {
	position: absolute;
	right: 0.5rem;
	bottom: 0;
	z-index: 3;
	color: white;
	text-align: right;
	font-size: var(--step--2);
	ul {
		list-style: none;
	}
	a {
		color: white;
		opacity: 0.9;
		&:hover {
			background: var(--accent);
			color: black;
			opacity: 1;
		}
	}
}
