extends templates/layout

block vars
	- var title = 'Projects'
	- var bodyClass = 'page-projects'

prepend head
	title #{title} - Oskar Rough Mosumgaard

block outlet
	h1 Projects
	p Some of my ongoing projects.

	.Grid
		#danskdynamit.Grid-item.Project.Project--danskdynamit
			h2: a(href="http://danskdynamit.com", target="_blank") Dansk Dynamit
			p A network between Danish designers, architects and creatives offering ideas, discourse, jobs and workspaces. What started as a hobby project turned into the biggest network of it's kind in Denmark. Since 2006.

		#kopfwelt.Grid-item.Project.Project--kopfwelt
			h2: a(href="http://www.kopfwelt.com", target="_blank") Kopfwelt
			p Come visit us in Lobeckstr. 36, Berlin. This is where I make websites with my crew.

		#alivefestival.Grid-item.Project.Project--alivefestival
			h2: a(href="http://alivefestival.dk", target="_blank") Alive Festival
			p A cozy, yearly and very fun music festival located in my homearea Thy, Denmark. Started in 2009 to celebrate life and music while manifesting a (inter)national focus on the local area.

		#can.Grid-item.Project.Project--can
			h2: a(href="http://codesandnotes.com", target="_blank") Codes &amp; Notes
			p What started out as my own notes turned into a guide to web development that you can trust.

		#radio4000.Grid-item.Project.Project--radio4000
			h2: a(href="http://radio4000.com", target="_blank") Radio4000
			//- h2 Radio4000
			p Coming soon…

		#strrr.Grid-item.Project.Project--strrr
			h2: a(href="http://strrr.tv", target="_blank") Strrr.tv
			p Hyper-stimulated downtime. A curated online video channel. Coming soon…

		#hopeglory.Grid-item.Project.Project--hopeglory
			h2: a(href="http://www.hopeglory.com", target="_blank") HOPE/GLORY
			p Since 2010 I've been helping companies realize their ideas through online solutions with the great HOPE/GLORY team in Berlin.

		#lyde.Grid-item.Project.Project--lyde
			h2: a(href="http://lyde.org", target="_blank") Lyde.org
			p Where me and my friends share the good, loving doctor music that makes you feel good. I see it as a library and reference of our taste in music. Enjoy!

		#wife.Grid-item.Project.Project--yaso
			h2 Wife
