.App {
	position: relative;
	z-index: 2;

	margin: rem($space*2) 5% 0;
	@media (min-width: $layout-s) {
		margin-left: 8%;
		margin-right: 8%;
	}
}
ul,
p {
	max-width: 45rem;
}
.SiteHeader {
	margin-bottom: rem($space*2);
}
.Grid {
	display: flex;
	flex-flow: row wrap;
	max-width: 70rem;
}
.Grid-item {
	@media (min-width: $layout-sm) {
		flex-basis: 50%;
		padding-right: 2rem;
	}
}

.Project {
	h3 {
		a {
			text-decoration: none;

		}
	}
	p {
		font-size: rem(13);
	}
}

	}
}
