.DonaldByrd {
	// position: relative;
	// z-index: 1;
	margin: rem($space*4) 5% 0;
	transition: opacity 200ms;
	.no-fonts & {
		opacity: 0;
	}
	@media (min-width: $layout-s) {
		margin-left: 8%;
		margin-right: 8%;
	}
}
ul,
p {
	max-width: 45rem;
}

.Project {
	h3 {
		font-style: italic;
		a {
			text-decoration: none;
		}
	}
	p {
		font-size: rem(15);
	}
}
@mixin colorBg($bg-color, $text-color) {
	h3 a {
		@include negative-text;
		background-color: $bg-color;
		color: $text-color;
	}
}
.Project h3 a {
	display: inline-block;
	padding: 0.2em 0.5em 0.2em;
	// transition: background-color 600ms 100ms;
	&:hover {
		// transition-duration: 10ms;
		// transition-delay: 0;
		background-color: transparent;
		color: $text-color;
	}
}
.Project--danskdynamit { @include colorBg(red, white); }
.Project--kopfwelt { @include colorBg(white, hsl(0, 0%, 75%)); }
.Project--alivefestival { @include colorBg(yellow, black); }
.Project--radio4000 { @include colorBg(#5E19E6, #dadada); }
.Project--can { @include colorBg(#136c6c, #F3B685); }
.Project--strrr { @include colorBg(brown, white); }
.Project--lyde { @include colorBg(green, red); }

/**
 * Canvas background
 */

#starwarswrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
