---
import Wall from '../components/Wall.astro'
import Normal from '../layouts/Normal.astro'
import BlogLatest from '../components/BlogLatest.astro'
---

<Normal>
	<div class="Doc">
		<p>HEJ I'm Oskar Rough Mosumgaard or @oskarrough or 0sk.ar. Design, music and web technology. I enjoy helping people build things, mostly on the internet. Tools that last, software you can change.</p>
		<p>Here you'll find bits and pieces of me, <a href="/music">my radio and mixtapes</a>, ideas I like, more or less random <a href="/links">links</a>, <a href="/projects">projects</a> I am or was part of.</p>
	</div>
</Normal>

<div class="blog">
	<BlogLatest/>
</div>

<Wall />

<style>
	.blog {
		background: white url('./images/pixelpattern.gif') repeat;
		/* background: #d3d3e9a8; */
		padding: 2rem 2rem 0.5rem;
	}
</style>
