---
import Wall from '../components/Wall.astro'
import Normal from '../layouts/Normal.astro'
import BlogLatest from '../components/BlogLatest.astro'
---

<Normal>
	<p>HEJ! This is Oskar Rough Mosumgaard. Design, music and web technology. I can help you build things, mostly on the internet. Tools that last, software you can change.</p>
	<p>Here you'll find bits and pieces of me, ideas I like, things I helped make.</p>
	<p>
	Contact me at <a href="mailto:oskar@rough.dk">oskar@rough.dk</a>,
	<a href="https://bsky.app/profile/oskarrough.bsky.social" rel=" noreferrer">Bluesky</a>,
	<a href="https://toot.cafe/@oskar" rel="noreferrer">Mastodon</a>
	or <a href="https://matrix.to/#/@oskarr:matrix.org" rel="noreferrer">Matrix</a>.
	</p>
</Normal>

<div class="blog">
	<BlogLatest/>
</div>

<Wall />

<style>
	.blog {
		background: white url('./images/pixelpattern.gif') repeat;
		/* background: #d3d3e9a8; */
		padding: 2rem 2rem 0.5rem;
	}
	.blog :global(a h3) {
		/* color: hsl(0deg 0% 100% / 80); */
	}
</style>
