---
import Normal from '../layouts/Normal.astro'
---

<Normal>
	<h1>Hej! My name is Oskar Rough Mosumgaard</h1>
	<p>
		Design, music and web technology. I can help you build things, mostly on the internet. Tools that last,
		software you can change.
	</p>
	<p>
		Contact me at <a href="mailto:oskar@rough.dk">oskar@rough.dk</a>,
		<a href="https://bsky.app/profile/oskarrough.bsky.social" rel=" noreferrer">Bluesky</a>,
		<a href="https://toot.cafe/@oskar" rel="noreferrer">Mastodon</a>
		or <a href="https://matrix.to/#/@oskarr:matrix.org" rel="noreferrer">Matrix</a>.
	</p>
</Normal>
