---
import Wall from '../components/Wall.astro'
import Normal from '../layouts/Normal.astro'
import BlogLatest from '../components/BlogLatest.astro'
---

<Normal>
	<div class="Doc">
		<p>HEJ I'm Oskar Rough Mosumgaard.<br/>Design, music and web technology. I enjoy helping people build things, mostly on the internet. Tools that last, software you can change.</p>
		<p>Here you'll find <a href="/music">my radio and mixtapes</a>, ideas I like, <a href="/projects">projects</a> I am or was part of, and some more or less random <a href="/links">links</a>.</p>
	</div>
</Normal>

<div class="blog">
	<BlogLatest/>
</div>

<Wall />

<style>
	.blog {
		background: var(--white) url('/src/assets/pixelpattern.gif') repeat;
		/* background: #d3d3e9a8; */
		padding: 2rem 2rem 0.5rem;

		a {
			color: var(--black);
		}
	}
</style>
