---
import {getCollection} from 'astro:content'
import Normal from '../layouts/Normal.astro'

const projects = (await getCollection('projects')).toSorted((a,b) => a.data.title.localeCompare(b.data.title))
// const { Content } = await post.render()
---

<Normal title="Projects">
	<p>… and here are some of my projects:</p>

	<ul class="list">
		{
		projects.map(async (post) => {
		const { Content, headings } = await post.render();
		return (<li>
			<h3>
				{post.data.url ?
				<a href={post.data.url}>{post.data.title} </a>
				: post.data.title}
			</h3>
			<!-- <p class="date"> {post.data.pubDate} </p> -->
			<!-- <Content /> -->
		</li>)
		})

		}
	</ul>

	<p>I maintain several community projects such as <a href="https://github.com/internet4000/media-now">media-now</a>, <a href="https://github.com/internet4000/radio4000">Radio4000</a>, <a href="https://github.com/oskarrough/ember-youtube">ember-youtube</a>, <a href="https://github.com/oskarrough/ember-date-fns">ember-date-fns</a> and <a href="https://github.com/oskarrough/ember-wordpress">ember-wordpress</a> and the <a href="https://github.com/oskarrough/rough">rough boilerplate</a>. The source for <a href="https://github.com/oskarrough/codesandnotes">Codes &amp; Notes</a> is also available.</p>

	<p>You can have a look at my <a href="https://github.com/oskarrough">GitHub profile</a></p>

	<ul>
		<li><a href="https://port-zero.com" rel="noopener">Port Zero</a></li>
		<li><a href="https://masse.video" rel="noopener">Brandt Brauer Frick - Masse Video</a></li>
		<li><a href="https://www.jitwam.com" rel="noopener">Jitwam</a></li>
		<li><a href="https://www.no-hablo.com" rel="noopener">Max Graef - Lo siento mucho pero no hablo tu idioma</a></li>
		<li><a href="https://freedomtv.cc" rel="noopener">Wayne Snow - Freedom TV</a></li>
		<li><a href="https://www.everland.dk" rel="noopener">Everland</a></li>
		<li><a href="https://www.torstenmosumgaard.dk" rel="noopener">Torsten Mosumgaard</a></li>
		<li><a href="http://arkov.co" rel="noopener">Arkov</a></li>
		<li><a href="http://gt-cinetype.com" rel="noopener">GT Cinetype</a> (slow browsers beware)</li>
	</ul>
</Normal>
