---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/music">Music</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin-bottom: calc(4vh - 1rem);
	}
	nav {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-left: -0.5rem;
		/* justify-content: space-between; */
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		color: var(--accent);
	}
</style>
