---
import {SITE_TITLE} from '../consts'
import HeaderLink from './HeaderLink.astro'
---

<header>
	<nav>
		<HeaderLink href="/">{SITE_TITLE}</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/music">Music</HeaderLink>
		<HeaderLink href="/blog">Log</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>

<style>
	header {
		margin: 5rem 0 calc(4vh - 1rem) 4vw;
	}
	nav {
		display: flex;
		align-items: center;
		gap: 0.5em;
	}
	nav a {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
		text-decoration: none;
		color: var(--white);
		&:hover {
			color: var(--black);
		}
	}
	nav a.active {
		background: var(--accent);
		color: black;
	}
</style>
</style>
