<style>
	.Wall {
		columns: 3;
		gap: 0;
		background: url(/images/dark-texture.png) repeat;
		padding: 5vw 5vw;
	}
	a:has(img) {
		display: block;
	}
	img {
	}
</style>

<figure class="Wall">
	<img loading="lazy" src="./images/strrr.jpg" alt="">
	<img loading="lazy" src="./images/E4Pl2S1X0AIJeq7.jpg" alt="">
	<img loading="lazy" src="./images/tumblr_6b01b262e85bff39964fead166b3c1ba_32135391_1280.jpg" alt="">
	<img loading="lazy" src="./images/estampe-pigmentaire-encadree-moebius-cavalcadeur-400.jpg" alt="">
	<img loading="lazy" src="./images/cinetype.jpg" alt="" width="640" />
	<img loading="lazy" src="/images/64_44_img_002.jpg" alt="">
	<img loading="lazy" src="./images/whatilike.jpg" alt="">
	<img loading="lazy" src="./images/signal-2020-11-18-212957.gif" alt="">
	<a href="/music"><img loading="lazy" src="./images/dynamitmusik.png" alt=""></a>
	<img loading="lazy" src="./images/kid.jpg" alt="">
	<img loading="lazy" src="./images/pythagoras.jpg" alt="">
	<img loading="lazy" src="/images/original_bdb079ec7c4303bc576dabd531913c6f.jpg" alt="" />
	<img loading="lazy" src="./images/3-INSIDEMOEB-TSHIRT-a-Pt9m.jpg" alt="">
	<img loading="lazy" src="./images/lodown2.webp" alt="" width="640" />
	<img loading="lazy" src="./images/masse.webp" alt="" width="640" />
	<img loading="lazy" src="./images/max.jpg" alt="" width="640" />
	<!-- <img loading="lazy" src="./images/honeycomb.webp" alt="" width="640" /> -->
	<a href="https://torstenmosumgaard.dk">
		<img
			loading="lazy"
			src="https://res.cloudinary.com/torstenmosumgaard/image/upload/q_auto,f_auto,fl_awebp,w_1440,c_lfill/v1479056398/Mosumgaard_84-01_llvjp6"
			width="300"
		/>
	</a>
	<a href="https://torstenmosumgaard.dk">
		<img
			loading="lazy"
			src="https://res.cloudinary.com/torstenmosumgaard/image/upload/q_auto,f_auto,fl_awebp,w_1440,c_lfill/v1479647124/IMG_0921_zifot0"
			alt=""
			width="400"
		/>
	</a>
	<img loading="lazy" src="./images/pfadfinderei.webp" alt="" width="640" />
	<img loading="lazy" src="images/dksvin.webp" alt="" />
	<img loading="lazy" src="images/eyes.jpg" alt="" />
	<a href="https://www.vim.org/"><img loading="lazy" src="images/written-in-vi.gif" alt="" /></a>
</figure>
