<figure class="Wall">
	<img loading="lazy" src="/src/assets/strrr.jpg" alt="">
	<img loading="lazy" src="/src/assets/E4Pl2S1X0AIJeq7.jpg" alt="">
	<img loading="lazy" src="/src/assets/tumblr_6b01b262e85bff39964fead166b3c1ba_32135391_1280.jpg" alt="">
	<img loading="lazy" src="/src/assets/estampe-pigmentaire-encadree-moebius-cavalcadeur-400.jpg" alt="">
	<img loading="lazy" src="/src/assets/cinetype.jpg" alt="" width="640" />
	<img loading="lazy" src="/src/assets/64_44_img_002.jpg" alt="">
	<img loading="lazy" src="/src/assets/whatilike.jpg" alt="">
	<img loading="lazy" src="/src/assets/signal-2020-11-18-212957.gif" alt="">
	<a href="/music"><img loading="lazy" src="/src/assets/dynamitmusik.png" alt=""></a>
	<img loading="lazy" src="/src/assets/pythagoras.jpg" alt="">
	<img loading="lazy" src="/src/assets/original_bdb079ec7c4303bc576dabd531913c6f.jpg" alt="" />
	<img loading="lazy" src="/src/assets/3-INSIDEMOEB-TSHIRT-a-Pt9m.jpg" alt="">
	<img loading="lazy" src="/src/assets/lodown2.webp" alt="" width="640" />
	<img loading="lazy" src="/src/assets/masse.webp" alt="" width="640" />
	<img loading="lazy" src="/src/assets/max.jpg" alt="" width="640" />
	<!-- <img loading="lazy" src="/src/assets/honeycomb.webp" alt="" width="640" /> -->
	<a href="https://torstenmosumgaard.dk">
		<img
			loading="lazy"
			src="https://res.cloudinary.com/torstenmosumgaard/image/upload/q_auto,f_auto,fl_awebp,w_1440,c_lfill/v1479056398/Mosumgaard_84-01_llvjp6"
			width="300"
		/>
	</a>
	<img loading="lazy" src="/src/assets/kid.jpg" alt="">
	<a href="https://torstenmosumgaard.dk">
		<img
			loading="lazy"
			src="https://res.cloudinary.com/torstenmosumgaard/image/upload/q_auto,f_auto,fl_awebp,w_1440,c_lfill/v1479647124/IMG_0921_zifot0"
			alt=""
			width="400"
		/>
	</a>
	<img loading="lazy" src="/src/assets/dksvin.webp" alt="" />
	<a href="https://www.vim.org/"><img loading="lazy" src="/src/assets/written-in-vi.gif" alt="" /></a>
</figure>

<style>
	.Wall {
  /* display: grid; */
  columns: 3;
  gap: 0;
  /* gap: 1vw; */
  padding: 2vw;
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  /* grid-template-rows: masonry; */
  background-image: linear-gradient(to top, var(--bg1), white);

  img {
  margin-bottom: auto;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  }
		/* columns: 3; */
		/* gap: 0; */
		/* background: url(/src/assets/dark-texture.png) repeat; */
		/* padding: 1vw 1vw; */
		/* background: red; */
	}

	a:has(img) {
		display: block;
	}
</style>
