// Site load animation
.wf-loading .sister-sledge {
	transition: opacity 100ms;
	opacity: 0;
}
.wf-active,
.wf-inactive {
	.sister-sledge {
		opacity: 1;
	}
}
.sister-sledge {
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
	padding-left: 2em;
	padding-right: 2em;
}
#starwarswrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#starwars {
	width: 100%;
	height: 100%;
}
