include ../mixins/mixin-menu.jade

block vars
	- var bodyClass = "page-" + title.toLowerCase()
	- var headerImage = ""
	- var title = title || ''

extends layout-html5

append head

append body

	.sister-sledge
		header.l-header
			.inner
				block header

		section.l-main(role="main")
			.inner
				block main

		footer.l-footer
			.inner
				block footer
					include layout-footer

	#starwarswrap
		canvas#starwars

	block scripts
		script(src="js/footer.min.js")
		script(src="js/main.js")

	| <script type="text/javascript">
	| var _gaq = _gaq || [];
	| _gaq.push(['_setAccount', 'UA-3906535-20']);
	| _gaq.push(['_trackPageview']);
	| (function() {
	| var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	| ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	| var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	| })();
	| </script>