<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="dropdown.css">
	<title>Dropdowns</title>
</head>
<body>

	<nav>
		<ul>
			<li><a href="#">Link</a></li>
			<li><a href="#">Dropdown</a>
				<ul>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
				</ul>
			</li>
			<li><a href="#">Another dropdown</a>
				<ul>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
				</ul>
			</li>
			<li><a href="#">Link</a></li>
		</ul>
	</nav>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="dropdown.js"></script>

</body>
</html>
