---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, pubDate, thumbnail } = Astro.props
---

<article>
	<div class="date">
		<FormattedDate date={pubDate} />
	</div>
	<h1>{title}</h1>
	{thumbnail && <img src={thumbnail} alt="" />}
	<slot />
</article>

<style>
	img {
		margin-bottom: 1rem;
	}
</style>