---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE } from '../consts'

const { title } = Astro.props

const smartTitle = title ? `${title} - ${SITE_TITLE}` : SITE_TITLE
---

<html lang="en">
	<head>
		<BaseHead title={smartTitle} />
	</head>

	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

