/**
 * Base
 */

// Typography
html {
	@include font-body;
	line-height: $base-line-height-unitless;
	font-size: $base-font-size;
}
.wf-loading h1, .wf-loading p {
	visibility:hidden;
}


// Links
a,
a:visited {
	color: $anchor-color;
	text-decoration: underline;
}
a:hover {
	color: $anchor-color-hover;
	text-decoration: underline;
}
a:active, a:focus {
	color: $anchor-color-active;
}


// Headers
h1,
h2,
h3 {
	@include font-header;
}
h1 {
	font-size: $font-size-xl;
	margin: 0 0 ($base-font-size / $font-size-xl) * 1.25em;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	font-size: $font-size-l;
	margin: 0 0 ($base-font-size / $font-size-l) * 0.5em;
	line-height: 1;
	font-weight: bold;
}
h3 {
	font-size: $font-size-m;
	margin: 0;
	font-weight: bold;
}


// Other elements
p,
ul,
ol,
dl,
blockquote,
img {
	margin: 0 0 1.25em;
}
code {
	background-color: lighten($blue, 40%);
}
