//- local vars
block vars
	- var bodyClass = ''
	- var active = active || ''

doctype
html.no-js
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			title Rough
			meta(name='description', content='')
			meta(name='viewport', content='width=device-width, initial-scale=1')

			// build:css styles/main.css
			link(rel='stylesheet', href='styles/main.css')
			// endbuild

			// build:js scripts/vendor/modernizr.js
			script(src='scripts/vendor/modernizr-custom.js')
			// endbuild

			| <script>
			| WebFontConfig = { fontdeck: { id: '17130' } };
			| (function() {
			| var wf = document.createElement('script');
			| wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			| '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			| wf.type = 'text/javascript';
			| wf.async = 'true';
			| var s = document.getElementsByTagName('script')[0];
			| s.parentNode.insertBefore(wf, s);
			| })();
			| </script>

	body(class="#{bodyClass}")

		include navigation

		main#SiteMain.SiteMain
			block outlet

		//-footer#SiteFooter.SiteFooter
			include footer
		#starwarswrap
			canvas#starwars


		.Scripts
			// build:js scripts/vendor.js
			script(src='../bower_components/jquery/dist/jquery.js')
			script(src="../bower_components/imagesloaded/imagesloaded.pkgd.js")
			script(src='../bower_components/cookie-monster/dist/cookie-monster.js')
			script(src='../bower_components/jquery-pjax/jquery.pjax.js')
			script(src='../bower_components/blazy/blazy.js')
			// endbuild

			// build:js scripts/main.js
			script(src='scripts/starfield.js')
			script(src='scripts/main.js')

			script(src='scripts/rough.js')
			script(src='scripts/app.js')
			// endbuild

			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-3906535-20', 'oskarrough.com');
				ga('send', 'pageview');
