//- Adds an active class to the nav item when the active variable matches the nav item title.
mixin nav-item(url, linkTitle)
	li
		a(href=url, class=title == linkTitle ? 'is-active' : '')= linkTitle

ul.Nav.Nav--primary
	//- +nav-item('index.html', 'Index')
	//- li: a(href='index.html', class=title == 'Index'?'is-active':'') Index
	+nav-item('index.html', 'Oskar Rough Mosumgaard')
	+nav-item('projects.html', 'Projects')
	+nav-item('resume.html', 'Resumé')
